
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Unbounded:wght@200..900&display=swap');
.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
    font-family: "Archivo Black", sans-serif;
}